header {
    margin: 5px ;
    padding: 2px;
}
nav{
    border: 2px blue solid;
    background-color:#0693e3 ;
    list-style: none;
    color: aliceblue;
    
}
.logo{
    border: 4px solid black;
    display: flex;
   
}
header{
    display: flex;
}
.nav_section {
    list-style: none;
    /* background-color: #0693e3; */
    margin-left: auto;
    padding: 4px;
    color: whitesmoke;

}
.name{
    font-size: large;
}

a{
    list-style: none;
    color: rgb(227, 227, 227);
    text-decoration: none;
}
a:hover{
    cursor:pointer;
    font-size: larger;
    color: rgb(3, 20, 63);
    font-weight: bold;
}
.Navigation{
    /* border: 2px solid red; */
    display: inline;
    padding: 3px;
    margin: 2px;
    color: rgb(245, 245, 245);
}
article{
    background-image:url(Bg.jpg);
    max-width:100% ;
    height: 1000px;
}
.name{
    margin:auto;
    font-size: 36px;
    color: rgb(12, 21, 159);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}